<mat-toolbar>
  <div class="w-100" fxLayout="row" fxLayoutAlign="space-between">
    <button style="background-color: blueviolet;" class="sidenav-toggle" mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="toggleSideNav.emit()">
      <mat-icon>menu</mat-icon>
    </button>


    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon btn-mdl" color="primary"
      aria-label="Example icon-button with share icon">
      <mat-icon>format_color_fill</mat-icon>
    </button>

  </div>

  <mat-menu #menu="matMenu">
    <button (click)="changeTheme('primary-theme')" mat-menu-item>Primary Light Theme</button>
    <button (click)="changeTheme('dark-theme')" mat-menu-item>Primary Dark Theme</button>
    <button (click)="changeTheme('custom-dark-theme')" mat-menu-item>Custom Color Palette Theme</button>
  </mat-menu>

</mat-toolbar>
